  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

  img {
    height: auto;
    object-fit: contain;
    object-position: bottom;
  }

  body { 
    background-color: $c-white;
    font-family: $f-montserrat;
    font-weight: 400;
    color: $c-white;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  //Header and hero section
  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header ul li {
    list-style-type: none;
    margin-left: 40px;
  }

  .header ul li a {
    text-decoration: none;
    color: $c-white;
    font-size: 12px;
  }

  .header ul li a:hover {
    text-decoration: underline;
  }

  .inverted ul li a {
    color: $c-black;
  }

  .inverted {
    background-color: $c-white;
    box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
    color: $c-black;
    z-index: 99;
  }

  .hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-content {
    text-align: center;
    z-index: 3;
  }

  .hero-content h1 {
    font-size: 70px;
    font-weight: 600;
    transition: 0.5s;
  }

  .hero-content h2 {
    font-size: 30px;
    font-weight: 500;
    transition: 0.9s;
  }

  .hero-content h1:hover {
    -webkit-text-stroke: 2px $c-white;
    color: transparent;
  }

  .hero-content button{
    margin-top: 30px;
    transition: 0.9s;
  }

  .hero-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
  }

  .hero-color {
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  @media (max-aspect-ratio: 16/9) {
      .hero-video {
        width: auto;
        height: auto;
      }
  }

  //Section styles

  .title-section {
    font-size: 60px;
    font-weight: 400;
    margin: 60px 0;
  }

  .section-icons {
    background-color: $c-blue-primary;
  }

  section {
    animation: slideIn 1.5s ease-in-out forwards;
  }

  .menu {
    background-color: $c-white;
    color: black;
  }

  .menu-item {
    margin: 40px 0;
  }

  .menu-total{
    margin-left: 50px;
    font-size: 30px;
    margin-bottom: 40px;
    color: $c-orange;
  }

  .menu-price {
    display: flex;
    justify-content: space-between;
  }

  .discount {
    color: $c-yellow;
  }

  .menu-item h4 {
    font-size: 24px;
    margin-top: 15px;
  }

  .menu-item p {
    font-size: 16px;
    margin-top: 15px;
    font-family: $f-roboto;
    color: #808080;
  }

  input {
    width: 10%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px 10px;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-items: center;
  }

  @media only screen and (min-width: 600px) {
    .menu-grid {
      grid-template-columns: auto auto;
      padding: 0px;
    }
    .menu-item {
      margin: 40px 0;
      width: 80%;
    }
    .header ul li {
      display: inline-block;
    }
    .header ul li a {
      font-size: 18px;
    }
  }

  @media only screen and (min-width: 1000px) {
    .menu-grid {
      grid-template-columns: auto auto auto;
      padding: 0px;
    }
    .location {
      grid-template-columns: 50% 50%;
    }
  }

  .space-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .space-icons img {
    margin: 40px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(74deg) brightness(100%) contrast(106%);
  }

  .location {
    background-color: $c-orange;
    display: grid;
  }

  .location h4 {
    padding-top: 40px;
    font-size: 24px;
  }
  
  .location p {
    margin-top: 40px;
    padding-right: 20px;
  }

  .location .text {
    padding-left: 20px;
  }

  .location a {
    text-decoration: none;
    color: $c-white;
  }

  .location a:hover {
    color: $c-yellow;
    cursor: pointer;
  }

  .section-partners {
    background-color: $c-blue-primary;
  }

  .partners-inner {
    display: flex;
    justify-content: space-between;
  }

  .section-partners img {
    margin-left: 15px;
  }

  .section-partners p {
    padding-top: 5px;
  }

  .footer {
    color: $c-black;
  }

  .footer p {
    font-size: 12px;
  }

  .footer span {
    text-decoration: underline;
  }

  //General styles 

  .container {
    padding: 20px;
  }

  .design-h2 {
    font-size: 60px;
    color: $c-orange;
    margin: 40px 0;
  }

  .text-center {
    text-align: center;
  }

  .d-flex {
    display: flex;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .color-yellow {
    color: $c-yellow;
  }

  .color-orange {
    color: $c-orange;
  }
  
  .my-20 {
    margin: 20px 0;
  }

  .primary-button {
    background-color: $c-orange;
    border: none;
    color: $c-white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
  }

  iframe {
    width: 100%;
    height: 270px;
    margin-bottom: -3px
  }
