// Typography
$f-montserrat: "Montserrat", sans-serif;
$f-roboto: "Roboto", sans-serif;

//Colors
$c-white: #fff;
$c-white-off: #efefef;
$c-blue-primary: #225193;
$c-blue-secondary: #479cd5;
$c-yellow: #ffdb00;
$c-orange: rgb(253, 156, 20);
$c-black: #252525;

